---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard';
import { getCollection } from 'astro:content';

interface Props {
  title: string;
  description: string;
  parts: Array<{
    image: string;
    name: string;
    description?: string;
  }>;
}

interface Model {
  id: string;
  data: Props;
}

export async function getStaticPaths() {
  const models = await getCollection('models');
  return models.map((model: Model) => ({
    params: { model: model.id },
    props: model.data,
  }));
}

const { title, description, parts } = Astro.props as Props;

const project_base_path = import.meta.env.BASE_URL;

// Update image paths to include the base path
const updatedParts = parts.map((part) => ({
  ...part,
  image: `${project_base_path}${part.image}`,
}));

---

<Layout title={title}>
  <section class="py-16 bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold mb-6">{title}</h1>
      <p class="text-lg text-gray-600 mb-12">{description}</p>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {updatedParts.map((part) => (
          <ProductCard
            client:load
            image={part.image}
            name={part.name}
            description={part.description}
          />
        ))}
      </div>
    </div>
  </section>
</Layout> 