---
// src/pages/[model].astro
import type { GetStaticPaths } from "astro";
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';

import { getCollection } from "astro:content";

export const getStaticPaths =  ( async () => {
  const models = await getCollection('models');
  const paths = models.map(model => ({
    params: { model: model.data.slug },
    props: { model }
  }));
  return paths;
}) satisfies GetStaticPaths;

const { title, description, parts } = Astro.props.model.data;

// const project_base_path = import.meta.env.BASE_URL;
---

<Layout title={title}>
  <section class="py-16 bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold mb-6">{title}</h1>
      <p class="text-lg text-gray-600 mb-12">{description}</p>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {parts.map((part) => (
          <ProductCard
            imagePath={part.imagePath}
            name={part.name}
            description={part.description}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>